{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    闪购超市
{% endblock %}


{% block extcss %}
    <link rel="stylesheet" href="{% static 'market/css/market.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'market/js/market.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="market">

        <div class="type-slider">
            <ul>
                {% for foodtype in foodtypes %}

                    <li>
                        <span></span>
                        <a href="{% url 'axf:market' %}">{{ foodtype.typename }}</a>

                    </li>

                {% endfor %}

            </ul>
        </div>

        <nav>
            <ul>

                <li id="fenlei">
                    <span>全部类型<i class="glyphicon glyphicon-chevron-up"></i></span>
                </li>
                <li id="paixu">
                    <span>综合排序<i class="glyphicon glyphicon-chevron-up"></i></span>
                </li>


            </ul>
        </nav>


        <div class="main-content">

            <div class="content-wrapper">
                <ul>
                    {% for goods in goods_all %}

                        <li>
                            <a href="#">
                                <img src="{{ goods.productimg }}" alt="" class="goods-img">
                                <div class="goods-info">
                                    <div class="name">{{ goods.productlongname }}</div>
                                    <div class="detailtag">
                                        {% if goods.isxf %}
                                            <span class="xf">精选</span><span>{{ goods.productnum }}</span>
                                        {% endif %}

                                    </div>
                                    <div class="specifics">{{ goods.specifics }}</div>
                                    <div class="price">
                                        <span class="now-price">￥{{ goods.price }}</span>
                                        <span class="market-price">￥{{ goods.marketprice }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>


                <div class="bounce-view fenlei">
                    <div class="bounce-wrapper " >
                        {% for name in name_list %}
                            <span><a href="{% url 'axf:markets' name.id 0  %}">{{ name.sname }}</a></span>
                        {% endfor %}


                 </div>


                </div>

                <div class="bounce-view paixu" >
                     <div class="bounce-wrapper " >
                        <span><a href="{% url 'axf:markets' childcid 0  %}">综合排序</a></span>
                        <span><a href="{% url 'axf:markets' childcid 1  %}">销量排序</a></span>
                        <span><a href="{% url 'axf:markets' childcid 2  %}">价格最低</a></span>
                        <span><a href="{% url 'axf:markets' childcid 3  %}">价格最高</a></span>
                    </div>




            </div>
        </div>
    </div>
{% endblock %}