{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    注册
{% endblock %}

{% block footer %}
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/registe.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'mine/js/registe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'axf:mine' %}">
                <span class=" glyphicon glyphicon-remove "></span>
            </a>
        </div>

        <form action="{% url 'axf:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group -has-error has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">手机号</span>
                    <input type="text" class="form-control" placeholder="请输入正确的手机号" name="username"
                    id="name-tip1"  data-placement="bottom" >
                </div>
                <span class="glyphicon -glyphicon-remove form-control-feedback" aria-hidden="true" id="name-tip2"></span>

            </div>


            <div class="form-group -has-success has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" placeholder="6~10位密码" name="password"
                     id="password-tip1" data-toggle="popover" data-placement="bottom">

                </div>
                <span class="glyphicon -glyphicon-ok form-control-feedback" aria-hidden="true" id="password-tip2"></span>
            </div>



            <div class="form-group has-success has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">昵称</span>
                    <input type="text" class="form-control" placeholder="昵称" name="name" id="nc-tip1">
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" id="nc-tip2"></span>
            </div>

            <div class="form-group has-success has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">邮箱</span>
                    <input type="text" class="form-control" placeholder="可不填" name="emal" >
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ></span>
            </div>



        </form>
     <input type="submit" value="注册" id="subButton">
    </div>


{% endblock %}

